:root {
  --brand-01: #13b6f5;
  --brand-02: #2f47c6;
  --brand-03: #0db783;
  --brand-04: #fac100;

  --black: #242424;
  --white: #ffffff;

  --gray-01: #696969;
  --gray-02: #a4a4a4;
  --gray-03: #fafafa;

  --error-color: #d90429;
}
